.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.main{
  background-color: black;
  /* height: 30px; */
  width: 180px;
  padding: 10px;
  display: "flex";
  flex-direction: "row";
  justify-content: "center";

}
.rahul{
  height: 50px;
  width: 140px;
  background-color: black;
  color:white;
  font-weight: bold;
  font-size: 20px;
  border-width: 1px;
}
.buttons{
  background-color: grey;
  color:white;
  font-weight:bold;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border-width: 0px;
  margin:2px
  
}
.buttoncolor{
  background-color: green;
}
.buttoncolor:hover{
  background-color:"grey";
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  width: 150px;
  height: 10px; /* Set the height to 20px */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}
